<!DOCTYPE html>
<html>
  <head>
    <title>MissionControl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>

      window.splashImg = "<%= asset_path("splash/splash_page.jpg") %>"
      window.logo = "<%= asset_path("splash/logo.png") %>"
      window.smallLogo = "<%= asset_path("session/small-logo.png") %>"
      window.avatar = "<%= asset_path("project/avatar_placeholder.png") %>"
      window.messageToolIcon = "<%= asset_path("project/tools/message_tool_icon.svg") %>"
      window.todosToolIcon = "<%= asset_path("project/tools/todos_tool_icon.svg") %>"
      window.scheduleToolIcon = "<%= asset_path("project/tools/schedule_tool_icon.svg") %>"
    </script>
    <%= yield %>
  </body>
</html>
